*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(113, 113, 236);
    color: white;
}
#title ,#description{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
#description{
    margin-top:15px;
    letter-spacing: 1px;
  
}
#title{
    margin-top: 50px;
}
#survey-form{
    margin: auto;
    background-color: rgb(13, 13, 68);
    margin-top: 30px;
    padding-top: 30px;
    width: 50%;
    color: white;
    border-radius: 5px;
}
#content{
    margin: auto;
    padding-left: 40px;
}
.box{
    width: 94%;
    height: 3em;
    border-radius: 5px;
    border-style: none;
    position: relative;
    bottom: 10px;
}

textarea{
    height: 150px;
    width: 94%;
}
select{
    width: 94%;
    height: 3em;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
}
button{
    width: 94%;
    height: 3.5em;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(114, 228, 114);
    border-style: none;
}